
@{
    Layout = "_pagesLayout";
    ViewData["Title"] = "Blog Page";

}
<style>
    /*Button*/

</style>
<link rel="stylesheet" href="~/css/blog.css" />
<section class="upper-container">
    <div >
        <ul>
            <li>Blog</li>
            <li>Memories that will last forewer</li>         
        </ul>
    </div>
</section>

<section class="blog-container">
    <div>
        <div class="row">
            <div class="col-6 col-md-6 blogs">
                <ul>
                    <li><img src="~/pages_images/blog2.jpg" /></li>
                    <li><i class='far fa-clock' style="color: #b89f80;margin-right:5px;"></i><span>03 Dec 2013</span></li>
                    <li><span>SEDIAL EIUSMOD TEMPOR</span></li>
                    <li><span>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Idque Caesaris facere voluntate liceret: sese habere. Magna pars studiorum, prodita quaerimus. Magna pars studiorum, prodita quaerimus. Fabio vel iudice vincam, sunt in culpa...</span></li>
                    <li><span>Continue Reading</span><i class='fas fa-long-arrow-alt-right' style="color: #b89f80;margin-right:5px;"></i></li>
                </ul>
            </div>
            <div class="col-6 col-md-6 blogs">
                <ul>
                    <li><img src="~/pages_images/blog3.jpg" /></li>
                    <li><i class='far fa-clock' style="color: #b89f80;margin-right:5px;"></i><span>05 Oct 2013</span></li>
                    <li><span>SEDIAL EIUSMOD TEMPOR</span></li>
                    <li><span>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Idque Caesaris facere voluntate liceret: sese habere. Magna pars studiorum, prodita quaerimus. Magna pars studiorum, prodita quaerimus. Fabio vel iudice vincam, sunt in culpa...</span></li>
                    <li><span>Continue Reading</span><i class='fas fa-long-arrow-alt-right' style="color: #b89f80;margin-right:5px;"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="blog-container-down">
  
            <span>TAG CLOUD</span>
            <div>
                <button>TRAVEL</button>
                <button>VIDEO</button>
                <button>BUSINESS</button>
                <button>SAFARI</button>
                <button>ANIMAL</button>
                <button>NEWS</button>
                <button>QUOTE</button>
            </div>
      
    </div>
</section>

